.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

    .trigger:hover {
        color: #1890ff;
    }

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.marginLeft250 {
    margin-left: 250px
}
.marginLeft80 {
    margin-left: 80px
}

.ant-global-header {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    background: #fff;
}

.header-right {
    position: fixed;
    right: 8px;
    top: 0; 
    z-index: 999;
    display: flex; 
    align-items: center;
}

.logo-header {
    height: 64px;
    padding-left: 40px;
    overflow: hidden;
    color: #000000d9;
    font-weight: 700;
    font-size: 18px;
    line-height: 64px;
    letter-spacing: -.18px;
    white-space: nowrap;
    text-decoration: none;
}




.a-center {
    align-items: center;
}

.centered {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.flex-centered {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
}

.white {
    color: #fff;
}